<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <validation>
    <type name="Models.Product" assemblyName="Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <ruleset name="Validation Ruleset">
        <properties>
          <property name="Name">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              upperBound="10" messageTemplateResourceName="The name of product cannot be empty or lenght cannot be greater than 10."
              name="String Length Validator" />
          </property>
          <property name="Price">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              culture="zh-CN" lowerBound="0" upperBound="100" messageTemplateResourceName="The price should be 0 to 100"
              messageTemplateResourceType="" name="Range Validator" />
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
</configuration>