<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <container>
      <extension type="Microsoft.Practices.Unity.InterceptionExtension.Interception, Microsoft.Practices.Unity.Interception" />
    
      <register type="InterceptionByXml.ILogger, InterceptionByXml"
                mapTo="InterceptionByXml.ConsoleLogger,InterceptionByXml" name="ConsoleLogger" >
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="InterceptionByXml.LoggerInterceptionBehavior,InterceptionByXml" />
      </register>
    </container>
  </unity>

</configuration>